div(class="forgot__header")
    div(class="forgot__logo") messenger
    form(class="forgot__login-form" action="/user/login" method="POST")
        input(type="email" name="email" placeholder="Email của bạn" class="forgot-input")
        input(type="password" name="password" placeholder="Mật khẩu" class="forgot-input")
        button(type="submit" class="forgot-button") Đăng nhập