.search-left 
    .search-left__title 
        div(class="search-left__title-left") #{pageTitle}
    div(class="search-left__filters") Filters
    div(class="search-left-list")
        a(class="search-item") 
            div(class="search__item-icon")
                <i class="fa-solid fa-newspaper"></i>
            div(class="search__item-title") All
        a(class="search-item") 
            div(class="search__item-icon")
                <i class="fa-solid fa-user-group"></i>
            div(class="search__item-title") Friends
        a(class="search-item") 
            div(class="search__item-icon")
                <i class="fa-solid fa-user-minus"></i>
            div(class="search__item-title") Request
        a(class="search-item") 
            div(class="search__item-icon")
                <i class="fa-solid fa-user-plus"></i>
            div(class="search__item-title") Sent
        a(class="search-item") 
            div(class="search__item-icon")
                <i class="fa-solid fa-users"></i>
            div(class="search__item-title") Users